html {
	font-size: 18px;
}
body {
	font-size: 100%;
}
h2 {
	font-size: 150%;
}
main {
	font-size: 100%;
	font-weight: bold;
}
canvas{
	width: 800px !important;
	height: 400px !important;
}
footer {
	font-size: 80%;
}

table, tr, td {
	border-collapse: collapse;
}